.demos{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    flex-wrap: wrap;
}
.pages{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 15px;
}
.pages div{
    width: 30px;
    height: 30px;
    background-color: bisque;
    margin-right: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    box-shadow: 2px 2px 3px -2px rgb(0 0 0 / 25%), inset 0 -1px 4px rgb(0 0 0 / 30%);
}
.pages div:hover{
    cursor: pointer;
    box-shadow: 2px 2px 3px -2px rgb(0 0 0 / 25%), inset 3px 2px 5px rgb(0 0 0 / 30%);
}
.pages div.active{
    box-shadow: 2px 2px 3px -2px rgb(0 0 0 / 25%), inset 3px 2px 5px rgb(0 0 0 / 30%);
}



@media (min-width:700px){
    .demos{
       margin-top: 120px;
    }
    .pages{
        margin-top: 35px;
        margin-bottom: 20px;
    }
    .pages div{
        width: 45px;
        height: 45px;
        
        margin-right: 30px;
        border-radius: 50%;
        
        line-height: 45px;
        font-size: 18px;
        
    }
    
    
}



@media (min-width:1410px){
    .demos{
        
        margin-top: 150px;
    }
    .pages{
        
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .pages div{
        width: 60px;
        height: 60px;
        margin-right: 50px;
        border-radius: 50%;
        line-height: 60px;
        font-size: 22px;
    }
   
}